@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Playwrite+CZ:wght@100..400&family=Science+Gothic:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Playwrite+CZ:wght@100..400&family=Science+Gothic:wght@100..900&display=swap");
@font-face {
  font-family: "android";
  src: url("fonts/IDroid.otf") format ("opentype");
  font-weight: normal;
}

:root {
  --cor0: #ffffff;
  --cor1: #e8e6c2;
  --cor2: #dff8df;
  --cor4: #224b22;
  --cor3: #65a365;
  --fonte-droid: "android";
}

img,
video,
iframe {
  box-sizing: border-box;
  max-width: 800px;
  display: block;
  margin: auto;
  height: auto;
}

body {
  width: 100%;
  background-color: var(--cor1);
  font-family: sans-serif;
  font-size: 19px;
  margin: 0;
  margin: auto;
}

a.externo::after {
  content: "\00A0\1F517";
}
main {
  min-width: 300px;
  max-width: 800px;
  margin: auto;
}
main strong {
  color: var(--cor3);
  font-weight: bold;
}

main a {
  text-decoration: none;
  font-weight: bold;
  color: #249148;
  background-color: #365739;
  padding: 2px 6px;
}

main a:hover {
  text-decoration: underline;
  color: #148038;
}
h1 {
  color: var(--cor0);
  width: 100%;
  margin: 0;
  font-family: var(--fonte-droid);
  font-size: clamp(1.2rem, 4vw, 3rem);
  font-weight: normal;
  font-family: "Oswald", sans-serif;
  /*font-size: 4vh; */
  margin: auto;
}
header {
  width: 100%;
  background-image: linear-gradient(to top, #0a401c, #148038, #2c4130);
  margin-right: 0;
  color: white;
  text-align: center;
  min-height: 250px;
  font-size: 1.4em;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.541);
}
section > h1 {
  width: 100%;
  max-width: 800px;
  color: var(--cor4);
  background-image: linear-gradient(to right, var(--cor3), transparent);
}
nav {
  margin: 20px;
}
nav > a {
  margin-right: 20px;
  color: var(--cor2);
  padding: 0;
  text-decoration: none;
}
a:hover {
  background-color: #4a8f4f;
  border-radius: 4px;
  transition-duration: 0.5s;
  text-decoration: none;
}

section {
  background-color: white;
  color: black;
  margin: auto;
  width: 100%;
  max-width: 800px;
  height: auto;
  text-align: center;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.417);
}
section > p {
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 1.4em;
  line-height: 1em;
  font-style: initial;
  margin: 4px;
  padding: 5px;
}
section > h2 {
  width: 100%;
  max-width: 600px;
  margin-left: 10px;
  margin-top: 10px;
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-align: center;
}
.titulo-2 {
  width: 100%;
  max-width: 600px;
  background-image: linear-gradient(to right, var(--cor3), transparent);
  color: var(--cor4);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
}
footer {
  width: 100%;
  max-width: 800px;
  margin: auto;
  text-align: center;
  background-color: white;
  clear: both;
}
footer > p {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-style: initial;
}
div {
  width: 100%;
  max-width: 800px;
  min-width: 320px;
  background-color: #9aeba3;
  margin: auto;
  border-radius: 10px 10px 10px 10px;
  align-items: center;
  text-align: center;
}
div > h1 {
  background-color: #365739;
  font-size: 17pt;
  font-family: Arial, Helvetica, sans-serif;
}

ol {
  list-style: none;
  padding: 0;
}

ol li {
  display: inline-block;
  margin: 5px 0;
  padding-left: 22px;
  background-image: url("https://img.icons8.com/emoji/20/check-mark-emoji.png");
  background-repeat: no-repeat;
  background-position: 0 2px;
}

#video {
  border-radius: 5px;
  background-color: #4a9252;
  position: relative;
  padding-bottom: 56.3%;
}
div#video > iframe{
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;
}
span {
  display: block;
  color: white;
  background-color: #0a401c;
  width: 100%px;
  height: auto;
}
