@charset "UTF-8";
*{
   /* height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: justify;
}
body{
background-image: linear-gradient(to right, #010626, #022859);

}
main{
background-color: white;
width: 700px;
padding: 10px;
margin: auto;
margin-top: 10px;
border-radius: 15px;
box-shadow: 2px 3px 10px #00010aef;
}

h1{
    color: #2481A6;
    text-align: center;
    text-shadow: 1px 1px 2px #113d4e;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h2{
    color: #F2CA50;
}